/.well-known/*
/wp-admin/*
/wp-includes/*
/mcp-wordpress-remote/*
.DS_Store
.htaccess
/index.php
license.txt
llms-full.txt
llms.txt
net=245.79,
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-docker.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
/wp-content/cache/*
/wp-content/languages/*
/wp-content/wp-rocket-config/*
/wp-content/debug.log
/wp-content/uploads/*
/wp-content/upgrade/*
/wp-content/wf-config/*
/wp-content/wflogs/*
/wp-content/advanced-cache.php
wp-config.php
clubbackup-local.sql
