/**
 * @package 	WordPress
 * @subpackage 	Porter Pub
 * @version 	1.0.0
 * 
 * Tribe Events Responsive CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1025px) {
  #tribe-events-content-wrapper {
    outline: none;
  }
  .content .tribe-events-photo #tribe-events-photo-events {
    margin: 0 -11px;
  }
}
@media only screen and (max-width: 1024px) {
  .tribe-events-list .tribe-events-event-image {
    width: 40%;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group {
    width: 47.4%;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group:nth-child(2n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 768px) {
  .tribe-bar-filters-inner > div {
    width: 97.4%;
  }
  .tribe-events-uses-geolocation .tribe-bar-filters-inner > div {
    width: 97.4%;
  }
  .tribe-bar-filters-inner > div.tribe-bar-submit label {
    display: none;
  }
  #tribe-geo-map-wrapper #tribe-geo-map {
    padding-bottom: 50%;
  }
  #tribe-events-content {
    padding-top: 25px;
  }
  #tribe-mobile-container {
    display: block;
  }
  table.tribe-events-calendar thead th {
    padding: 5px 0;
  }
  table.tribe-events-calendar tbody td {
    height: 45px;
    padding-bottom: 20px;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events {
    position: relative;
    cursor: pointer;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events:before {
    background: #000;
    content: '';
    width: 5px;
    height: 5px;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events.mobile-active {
    outline: none;
  }
  table.tribe-events-calendar tbody td.tribe-events-thismonth {
    position: relative;
  }
  table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] {
    padding: 0;
    text-align: center;
  }
  table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] a {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  table.tribe-events-calendar tbody td .tribe_events {
    display: none;
  }
  table.tribe-events-calendar tbody td .tribe-events-viewmore {
    display: none;
  }
  .tribe-events-list .tribe-events-event-image {
    width: 100%;
    padding: 0 0 30px !important;
    float: none;
    clear: both;
  }
  .tribe-events-week-grid .tribe-events-grid {
    display: none;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_3 .tribe-events-meta-group {
    width: 97.4%;
  }
  #tribe-bar-views {
    display: block;
  }
  #tribe-bar-views .tribe-bar-views-inner {
    text-align: center;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header {
    padding: 0 0 38px;
  }
  .cmsmasters_single_event .cmsmasters_single_event_content {
    padding: 0;
  }
  .cmsmasters_single_event_meta {
    padding: 0;
  }
  .cmsmasters_row .tribe-events-countdown-widget .tribe-countdown-time {
    font-size: 60px;
    line-height: 80px;
  }
  .cmsmasters_row .tribe-events-countdown-widget .tribe-countdown-colon {
    font-size: 52px;
    line-height: 72px;
  }
  .tribe-events-photo .tribe-events-photo-event {
    width: 100% !important;
    float: none;
  }
}
@media only screen and (max-width: 600px) {
  #tribe-bar-views {
    display: block;
    margin: 0 0 15px;
  }
  #tribe-bar-views .button {
    margin: 6px 0;
  }
  #tribe-bar-views .tribe-bar-views-list li {
    padding: 6px 20px;
  }
}
@media only screen and (max-width: 540px) {
  #tribe-geo-map-wrapper #tribe-geo-map {
    padding-bottom: 100%;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header_left {
    float: none;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header_right a {
    float: left;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_left {
    float: none;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_right a {
    float: left;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_left {
    float: none;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_right a {
    float: left;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group,
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_3 .tribe-events-meta-group,
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_2 .tribe-events-meta-group {
    width: 97.4%;
    float: none;
    clear: both;
  }
  .cmsmasters_single_event_map [id*="tribe-events-gmap"],
  .tribe-events-venue .cmsmasters_events_venue_meta_map [id*="tribe-events-gmap"] {
    padding-bottom: 100% !important;
  }
  ul.tribe-related-events li {
    width: 97.4%;
    margin-bottom: 30px;
    float: none;
    clear: both;
  }
  ul.tribe-related-events li:last-child {
    margin-bottom: 0;
  }
  .datepicker.dropdown-menu th,
  .datepicker.dropdown-menu td {
    padding: 4px 2px;
  }
  .cmsmasters_row .tribe-events-countdown-widget .tribe-countdown-time {
    font-size: 36px;
    line-height: 56px;
  }
  .cmsmasters_row .tribe-events-countdown-widget .tribe-countdown-colon {
    font-size: 32px;
    line-height: 52px;
  }
}
